@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 10px;
}

.sections {
  display: flex;
  grid-gap: 40px;
}

.item-comparison-table {
  display: table;
}

.item {
  display: table-row;
}
.item.item--good {
  background-color: lightgreen;
}
.item.item--bad {
  background-color: lightpink;
}

.item > div {
  display: table-cell;
  padding: 0 10px;
}